<mat-card class="about mat-elevation-z2">
  <mat-card-header>
    <div mat-card-avatar class="card-header-image"></div>
    <mat-card-title
      ><a href="https://github.com/marcusvpr" class="link"
        >Marcus Rodrigues</a
      ></mat-card-title
    >
    <mat-card-subtitle>Full Stasck Developer</mat-card-subtitle>
  </mat-card-header>
  <mat-card-title class="title">Namastê!</mat-card-title>
  <mat-card-subtitle class="subtitle">Sobre Mim</mat-card-subtitle>
  <mat-card-content class="mat-card-content">
    <p>
      Programador e desenvolvedor Full Stack / DevOps / IA.
    </p>
    <a href="https://github.com/marcusvpr" target="_blank">
      <img src="https://avatars.githubusercontent.com/u/13026614?v=4"
        alt="github-logo"
      />
    </a>
  </mat-card-content>
</mat-card>
